<?xml version="1.0" encoding="utf-8"?>
<manifest package="faceassist.faceassist"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:name=".FaceAssistApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".Components.Activities.Main.MainActivity"
            android:screenOrientation="portrait"
        />

        <activity
            android:name=".Components.Activities.Profile.ProfileActivity"
            android:screenOrientation="portrait"
        />

        <activity
            android:name=".Components.Activities.Gallery.GalleryActivity"
            android:screenOrientation="portrait"
        />

        <activity
            android:name=".Components.Activities.AddFace.AddFaceActivity"
            android:screenOrientation="portrait"
        />

        <activity android:name=".Components.Activities.Camera.PictureUriActivity"
                  android:screenOrientation="portrait"
        />

        <activity android:name=".Login.LoginActivity"
                  android:screenOrientation="portrait"
        />

        <service android:name=".Upload.UploadIntentService"/>

        <activity android:name=".Components.Activities.AllFaces.AllFacesActivity"
                  android:screenOrientation="portrait"
        />


    </application>

</manifest>